.plan {
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--m-y-l);
  margin: 0 var(--m-container) var(--m-y-xl);
}

.content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 40rem;
}

.wrapper {
  border: 4rem solid transparent;
  background-color: var(--lightgrey);
  position: relative;
  user-select: none;
}

.legend {
  margin-left: 10rem;
}
