.plan {
}

.container {
  margin: 0rem 20rem 17rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.wrapper {
  border-top: 4rem solid var(--lightgrey);
  border-bottom: 4rem solid var(--lightgrey);
  border-left: 4rem solid var(--lightgrey);
  border-right: 44rem solid var(--lightgrey);
  background-color: var(--lightgrey);
  position: relative;
  user-select: none;
}
