.plan {
}

.container {
  margin: 0rem 20rem 17rem;
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.content {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 40rem;
}

.wrapper {
  border: 4rem solid transparent;
  background-color: var(--lightgrey);
  position: relative;
  user-select: none;
}

.legend {
  margin-left: 10rem;
}
