.services {
  overflow: hidden;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--m-y-l);
  margin: 0 var(--m-container) var(--m-y-xl);
}

.galery {
  display: flex;
  flex-direction: column;
  gap: var(--size-15-25-inf);
}

.tickers {
  margin-left: -20rem;
}
