.confirmation {
  margin: 0 var(--size-30-0-inf);
  width: var(--size-200-550-inf);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
}

.header {
  line-height: 1;
  text-wrap: balance;
}

.text {
  font-size: 2.5rem;
  text-wrap: balance;
}
