.request {
}

.container {
  margin: 0 0 var(--m-y-xl);
  display: grid;
  grid-template-columns: var(--size-105-290-inf) 74.5rem auto;
  grid-template-rows: auto var(--size-115-275-inf);
  grid-template-areas:
    'side form img'
    'square form img';
}

.side {
  position: relative;
  overflow: hidden;
  grid-area: side;
  background-color: var(--green);
}

.text {
  z-index: 0;
  position: absolute;
  top: -5rem;
  left: -6.5rem;
  transform-origin: center;
  transform: rotate(180deg);

  color: var(--white);
  font-family: var(--font-special);
  font-weight: 700;
  font-size: 28.5rem;

  background-clip: text;
  -webkit-background-clip: text;
  writing-mode: vertical-rl;
  -webkit-text-fill-color: transparent;
  background-size: 15rem;
  background-position: top -6rem left 2.5rem;
  background-image: url('../../../../../assets/home/request_text_bg.webp');
  user-select: none;
}

.square {
  grid-area: square;
  background-color: var(--black);
}

.form {
  grid-area: form;
  background-color: var(--lightgrey);
}

.img {
  grid-area: img;
  background-color: var(--grey);
}

@media (width < 1280px) {
  .container {
    grid-template-columns: 29rem minmax(var(--size-320-745-inf), 1fr) auto;
  }
}

@media (width < 768px) {
  .container {
    grid-template-areas:
      'side form'
      'square form'
      'img img';
  }
}

@media (width < 576px) {
  .text {
    top: calc(0px - var(--size-25-80-inf));
    left: calc(0px - var(--size-15-95-inf));
    font-size: var(--size-120-420-inf);
    writing-mode: horizontal-tb;
  }

  .container {
    grid-template-columns: var(--size-105-290-inf) auto;
    grid-template-rows: var(--size-115-275-inf) auto auto;
    grid-template-areas:
      'square side'
      'form form'
      'img img';
  }
}
