.grid {
  display: grid;
  row-gap: max(10px, calc(10px + 20 * (0.0625vw - 0.2px)));
  column-gap: max(20px, calc(20px + 15 * (0.0625vw - 0.2px)));
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  align-items: start;
  justify-items: center;
}
