.grid {
  display: grid;
  row-gap: var(--size-10-30-inf);
  column-gap: var(--size-20-35-inf);
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  align-items: start;
  justify-items: center;
}
