.about {
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--size-35-90-inf);
  margin: 0 var(--m-container) var(--m-y-xl);
}

.content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: start;
  row-gap: 40px;
  column-gap: var(--size-0-90-inf);
  margin-left: var(--size-0-270-inf);
}

.figure {
  display: flex;
  gap: 4rem;
}

.title {
  writing-mode: vertical-rl;
  transform-origin: center;
  transform: rotate(180deg);
}

.img {
  height: 35rem;
  width: 35rem;
}

.wrapper {
  flex: 1 1 54rem;
  display: flex;
  flex-direction: column;
  gap: var(--size-20-45-inf);
}

.text {
  font-size: 2.2rem;
  text-wrap: balance;
}
