.services {
  overflow: hidden;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--m-y-l);
  margin: 0 var(--m-container) var(--m-y-xl);
}

.galery {
  display: flex;
  flex-direction: column;
  gap: var(--size-15-25-inf);
}

.slider {
  order: 2;
  width: 100%;
}

.indicator {
  order: 3;
}

.tickers {
  margin-left: -20rem;
}

@media (width < 768px) {
  .indicator {
    order: 1;
  }
}

@media (width < 576px) {
  .header {
    text-align: left;
  }
}
