.fallbackCard {
  position: relative;
}

.blur {
  position: absolute;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
}

.loader {
  z-index: 60;
  font-size: 3rem;
}
