.requestForm {
}

.container {
  margin: 10.5rem;
}

.title {
  line-height: 1;
  margin-bottom: 2rem;
}

.recommendation {
  margin-bottom: 4rem;
  font-size: 2rem;
}

.input {
  margin-bottom: 4rem;
}

.wrapper {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.btn {
  white-space: nowrap;
}

.note {
  color: var(--grey);
  font-weight: 300;
  font-size: 1.4rem;
}
