.requestForm {
}

.container {
  margin: 10.5rem;
}

.title {
  line-height: 1;
  margin-bottom: 2rem;
}

.recommendation {
  margin-bottom: 5rem;
  font-size: 2rem;
}

.input {
  margin-bottom: 4rem;
}

.wrapper {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  column-gap: 5rem;
}

.btn {
  white-space: nowrap;
}

.note {
  color: var(--grey);
  font-weight: 300;
  font-size: 1.4rem;
}

@media (width < 1280px) {
  .container {
    margin: var(--size-50-105-inf) var(--size-20-105-inf);
  }

  .title {
    font-size: var(--size-27-60-6rem);
    margin-bottom: var(--size-15-20-inf);
  }

  .recommendation {
    font-size: var(--size-15-20-inf);
    margin-bottom: var(--size-30-50-inf);
  }

  .wrapper {
    flex-direction: column;
    row-gap: var(--size-20-45-inf);
    margin-top: var(--size-30-50-inf);
  }

  .btn {
    width: 100%;
  }

  .note {
    font-size: max(12px, var(--size-10-15-inf));
  }
}

@media (width < 576px) {
  .container {
    margin: var(--size-50-105-inf) var(--size-20-370-inf);
  }
}
