.plan {
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--m-y-l);
  margin: 0 var(--m-container) var(--m-y-xl);
}

.content {
  display: flex;
  gap: 16rem;
}

.wrapper {
  flex: 1 1 auto;
  height: fit-content;
  position: relative;
  user-select: none;
}

.marker {
  --size: var(--size-10-30-inf);
  height: var(--size) !important;
  width: var(--size) !important;
}

@media (width < 1280px) {
  .legend {
    display: none !important;
  }
}
