.hero {
}

.container {
  margin: 17rem 20rem;
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.wrapper {
  display: flex;
  gap: 7.5rem;
}

.img {
  z-index: 10;
  height: 35rem;
  width: 35rem;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
