.hero {
  overflow: hidden;
}

.container {
  margin: var(--m-y-xl) var(--m-container);
  display: flex;
  flex-direction: column;
  gap: var(--size-30-75-inf);
}

.wrapper {
  overflow: hidden;
  display: flex;
  gap: var(--size-10-75-inf);
}

.img {
  --img-size: var(--size-100-350-inf);
  z-index: 10;
  height: var(--img-size);
  width: var(--img-size);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--size-5-30-inf);
}

@media (width < 768px) {
  .img {
    display: none;
    --img-size: 0;
  }

  .wrapper {
    gap: 0;
  }
}
