.businesscard {
  --size-orange: max(100px, calc(100px + 50 * (0.0625vw - 0.2px)));

  color: var(--white);
  background-color: var(--black);

  display: grid;
  grid-template-rows: auto var(--size-orange);
  grid-template-columns: var(--size-orange) auto;

  grid-template-areas:
    'content content'
    'milk orange';
}

.content {
  grid-area: content;
  margin: max(30px, calc(30px + 50 * (0.0625vw - 0.2px)))
    max(20px, calc(20px + 60 * (0.0625vw - 0.2px)));
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 2rem;
  font-weight: 500;
}

.anchor {
  font-weight: 400;
}

.social {
  margin-top: 1rem;
  font-size: 2.2rem;
  display: flex;
  gap: 2.5rem;
}

.milk {
  grid-area: milk;
  background-color: var(--milk);
}

.orange {
  grid-area: orange;
  background-color: var(--orange);
}

@media (width < 1280px) {
  .title {
    font-size: clamp(27px, calc(27px + (60 - 27) * (0.0625vw - 0.2px)), 6rem);
  }
}
