.navbar {
  z-index: 100;
  display: flex;
  row-gap: 25px;
}
@media (width < 992px) {
  .navbar {
    transform: translateX(100%);
    padding: 70px var(--m-container);
    flex-direction: column;
    align-items: start;

    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    color: var(--white);
    background-color: var(--black);

    height: 100vh;
    transition: transform 0.2s cubic-bezier(0.49, 0.64, 0.49, 0.77);
  }

  .navbar[data-opened='true'] {
    transform: translateX(0%);
  }
}
@media (width < 576px) {
  .navbar {
    height: initial;
    top: 99%;
    left: 0;
  }
}

.navlinks {
  font-family: var(--font-special);
  font-weight: 500;
  letter-spacing: 0.07em;

  min-width: fit-content;
  display: flex;
  align-items: center;
  border-left: var(--border-thick) var(--black) solid;
  border-right: var(--border-thick) var(--black) solid;
  padding: 0 var(--size-0-90-inf);
  column-gap: var(--size-0-40-inf);
  row-gap: 25px;
}
@media (width < 1200px) {
  .navlinks {
    display: none;
    font-size: 18px;
    font-weight: 300;
  }
}
@media (width < 992px) {
  .navlinks {
    display: flex;
    flex-direction: column;
    align-items: start;
    border: none;
    padding: 0;
  }

  .navlink_white::after {
    background-color: var(--white) !important;
  }
}

.actions {
  margin-left: var(--size-0-90-inf);
  display: flex;
  align-items: center;
  column-gap: var(--size-0-40-inf);
  row-gap: 15px;
}
@media (width < 992px) {
  .actions {
    flex-direction: column;
    align-items: start;
    margin-left: 0;
    width: 100%;
  }
}

.socials {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
@media (width < 992px) {
  .socials {
    margin-bottom: 25px;
  }

  .icon_mobile {
    --color: var(--white) !important;
    height: 30px !important;
    width: 30px !important;
  }

  .button {
    width: 100%;
    font-size: 15px;
    --border-color: var(--white);
  }
}
