.navbar {
  display: flex;
}

.anchors {
  font-family: var(--font-special);
  font-weight: 500;
  letter-spacing: 0.07em;

  list-style: none;
  min-width: fit-content;
  display: flex;
  align-items: center;
  border-left: 1.5px solid var(--black);
  border-right: 1.5px solid var(--black);
  padding: 0rem max(0px, calc(0px + (90 - 0) * (0.0625vw - 0.2px)));
  gap: max(0px, calc(0px + (40 - 0) * (0.0625vw - 0.2px)));
}

.actions {
  display: flex;
  align-items: center;
  gap: max(0px, calc(0px + (40 - 0) * (0.0625vw - 0.2px)));
  margin-left: max(0px, calc(0px + (90 - 0) * (0.0625vw - 0.2px)));
}

.social {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.icon {
  cursor: pointer;
}

@media (width < 1200px) {
  .navbar {
    margin: 2rem 0;
    position: absolute;
    top: 100%;
    right: 0;

    flex-direction: column;
    gap: 2rem;
    display: none;
  }

  .navbar[data-opened='true'] {
    display: flex;
  }

  .anchors {
    border: none;
  }
}
